html,body{height:100%;width:100%}

.main_body{
    width: 100%;
    height: 100%;
}
.main_left{
    width: 15%;
    height: 100%;
    float:left;
    cursor:pointer;
}
.main_right{
    width: 80%;
    height: 100%;
    float:right;
    cursor:pointer;
}

.name_center{
	height:50%;
	width:50%;
	text-align:center;
	margin: auto;
	position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.edu_layout{
	height: 100%;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
}
.divider{
	text-align:left;
}