html,body{height:100%;}
/*index*/
.main_left{
	width: 15%;
    height: 100%;
    float:left;
    cursor:pointer;
}
.main_right{
	width: 85%;
    height: 100%;
    float:right;
    cursor:pointer;
}
/*name*/
.name_center{
	height:50%;
	width:50%;
	text-align:center;
	/*margin: auto;
	position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);*/
}
/*education*/
.edu{
	width:90%;
	margin-top:5%;
	margin-left:5%;
	margin-right:5%;
	text-align:left;
}