/*index*/
.main_left{
	width: 15%;
    height: 100%;
    float:left;
    cursor:pointer;
}
.main_right{
	width: 85%;
    height: 100%;
    float:right;
    cursor:pointer;
}
/*name*/
.name_center{	
	width:50%;
	height:50%;
	text-align:center;
    margin-left: 25%;
    margin-top: 10%;
    margin-right: 25%;
	margin-bottom: 10%;
}
/*除了name和index的界面及抬头*/
.content{
	width:90%;
	height:100%;
	margin-left:5%;
	margin-right:5%;
	margin-top: 1%;
}
.divider{
	width:100%;
	height:10%;
	text-align:left;
	
}