/*index*/
.main_left{
	width: 15%;
    height: 100%;
    float:left;
    cursor:pointer;
}
.main_right{
	width: 85%;
    height: 100%;
    float:right;
    cursor:pointer;
}
/*name*/
.name_center{	
	width:50%;
	height:50%;
	text-align:center;
    margin-left: 25%;
    margin-top: 10%;
    margin-right: 25%;
	margin-bottom: 10%;
}
/*除了name和index的界面及抬头*/
.container{
	width:90%;
	height:100%;
	margin-left:5%;
	margin-right:5%;
	margin-top: 3%;
	margin-bottom: 3%;
}
.divider{
	width:100%;
	height:10%;
	text-align:left;
}
.content{
	width:100%;
	height:90%;
	margin-top: 3%;
	margin-left: 2%;
	margin-right: 2%;
}
/*exp*/
.blank{
	width:100%;
	margin-top: 1%;
	margin-bottom: 1%;
}
/*whole*/
.whole_contain{
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 10%;
	margin-right: 10%;
}
.whole_name{
	width: 100%;
	position:relative;
}
.whole_nameLeft{
	text-align:center;
}
.whole_nameRight{
	float:right;
	margin-right:5%;
}
.whole_section{
	position:relative;
	margin-top:5%;
	
}